<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>chat-vue</title>
    <link rel=stylesheet href=static/light-mode.css>
    <link href=/static/css/app.6f7330270da90f623f2f7aef58a17e6c.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.5d277043b2b0b2308d95.js></script>
<script type=text/javascript src=/static/js/app.e64f4f8f36e9edfacb09.js></script>
</body>
</html>
